.fighter-preview___root {
  display: flex;
  flex-direction: column;

}

.fighter-preview___right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 550px;
  width: 300px;

}
.fighter-preview___right img {
  transform: scaleX(-1);
  height: 400px;
}


.fighter-preview___left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 550px;
  width: 300px;
}

.fighter-preview___left img {
  height: 400px;
}
.fighter-preview___skills {
  display: flex;
  flex-direction: column;
  height: 150px
}

.fighter-preview___fighter-name {
  color: #f3f4ef;
  font-size: 30px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___fighter-skill {
  color: white;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  padding-left: 5px;
}



